body {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
    background-color: thistle;
   }
header, nav, section, footer {
    padding: 15px 0;
    background: #381460;
    text-align: center;
    font-weight: bold;
   
}
article {
    color: #381460;
    background-color: #fbdff0;
  
}
h1, h2, h3, p {
    color: #381460;
    background: #f6c3e5;
    padding: 10px;
    
}
section {
    float: left;
    width: 495px;
    display: block;

}
aside {
    float: right;
    width: 435px;
    background-color: #fbdff0; 
    padding-top: 75px;
}

header, footer {
    width: 100%;
    background-color: #a278b5;
    color: #fbdff0;
}
footer {
   clear: both;
   align-content: center;
}
.myimage {
    width: 250px;
    height: auto;
}
.mynavlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  .mynavlist li {
      float: left;
  }  
.mynavlist li a {
    display: block;
    padding: 16px;
    text-align: center;
    color: #fbdff0;
}
.contactme {
    list-style-type: none;
    display: block;
    text-align: left;
    padding: 16px;
}
nav {
    margin-bottom: 20px;
    background-color: #381460
}
.main-section {
    text-align: center;
    margin: 0 auto;
    float: none !important;
}
.contactme li a {
    color: #381460;
}
.contactme li {
   color: #381460;
}
section {
    background-color: #fbdff0;
}
@media screen and (max-width:980px) {
    section {
        width: 100%;
     }
     aside {
        width: 100%;
     }
     body {
         width: 100%;
    }
@media screen and (max-width: 768px) {
 section {
    width: 100%;
 }
 aside {
    width: 100%;
 }
 body {
     width: 100%;
 }
}
@media screen and (max-width: 640px){
    footer {
        background: blanchedalmond;
        color: purple;
    }
}
   
 

    

    

